<!--
<section>
  <article>
    <h3>
        interpolação
        <p>String renderizada: {{ url }}</p>
        <p>Resultado de 1 + 1 é: {{ 1+1 }}</p>
        <p>Resultado de 1 + 1 não é {{ 1+1+getValor() }}</p>
        <p>Curso Angular é bom ? {{ cursoAngular && getCurtirCurso() ? 'SIM' : 'NAO' }}</p>
    </h3>
  </article>
    <h3>Propriedade Imagem</h3>
    <!-- <img src="{{ urlImagem }}">
    <img [src]="urlImagem"> 
    <img bind-src="urlImagem">
  <article>

    
    <article>
      <h3>
        Class e Style Binding
      </h3>
      <div>
        Selecione uma classe:
        <select #classe (change)="0">
          <option value="alert-success">Sucesso</option>
          <option value="alert-info">Info</option>
          <option value="alert-warning">Alerta</option>
          <option value="alert-danger">Erro</option> 
        </select>
        <br><br>
        <div class="alert {{ classe.value }}">
          Texto colorido conforme o valor selecionado no combo box.
        </div>
         Class Binding 
        <div class="alert" role="alert" [class.alert-success]="classe.value == 'alert-success'">Sucesso</div>
        <div class="alert" role="alert" [class.alert-info]="classe.value == 'alert-info'">Info</div>
        <div class="alert" role="alert" [class.alert-warning]="classe.value == 'alert-warning'">Alerta</div>
        <div class="alert" role="alert" [class.alert-danger]="classe.value == 'alert-danger'">Erro</div>
         Style binding 
        <div class="alert alert-danger" role="alert" [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'">Erro de TEXTO</div>

      </div>
    </article>


  </article>
</section>
  
  <article>
    <h3>
      Event Binding
    </h3>
    <div>
      <button class="btn btn-primary" (click)="botaoClicado()">Me Clique</button>
      <br><br>
      <input type="text" (keyup)="onKeyUp($event)" (keyup.enter)="salvarValor(campoInput.value)" (blur)="salvarValor(campoInput.value)" #campoInput />
      <br>
      <p>Digitando: {{ valorAtual }}</p>
      <p>Digitando: {{ valorSalvo }}</p>
      <br>
      <p>Mouse {{ isMouseOver }}</p>
    </div>
    <span (mouseover)="onMouseOverOut()" 
            (mouseout)="onMouseOverOut()" 
            [class.highlight]='isMouseOver'
            >Passe o Mouse</span>

      <br><br><br><br><br>
  </article>
  
  
  <section class="two-way-binding">
    <article>
      <h3>Two-Way data Binding</h3>
      <div>
        <input type="text" [value]="nome" (input)="nome = $event.target.value"/>  
        <input type="text" [ngModel]="nome" (ngModelChange)="nome = $event"/>  
        <input type="text" [(ngModel)]="nome" />
      </div>
      <div>
        <input type="text" [(ngModel)]="pessoa.nome">
        <input type="text" [(ngModel)]="pessoa.idade">
      </div>
      
      <div>
        <p>
          Você digitou: {{ nome }}
        </p>
      </div>
    </article>
  </section>
  

  <section class="input-output-properties">
    <article>
      <h3>
        Input/Output Properties
      </h3>
      <app-curso [nome]="nomeDoCurso"></app-curso>
    </article>
  </section>
  
  <section>
    <article>
      <h3>
        <contador [valor]="valorInicial" (mudouValor)="onMudouValor($event)"></contador>
      </h3>
    </article>
  </section>

  -->
  <app-ciclo [valorInicial]="valor" (novoValor)="onNovoValor($event)" *ngIf="!deletarCiclo" ></app-ciclo>
  <p>Valor novo: {{ valor }}</p>
  <button (click)="mudarValor()">Mudar Valor</button>
  <button (click)="destruirCiclo()">Destruir</button>